{% extends "base.html" %}

{% block title %}Eliminar categoría{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white shadow rounded-xl p-6">
    <h2 class="text-xl font-bold mb-4">Eliminar categoría</h2>

    <p class="mb-6">
        ¿Seguro que querés eliminar la categoría
        <strong>{{ category.name }}</strong>?
    </p>

    <form method="post" class="flex justify-end space-x-3">
        {% csrf_token %}

        <a href="{% url 'expenses:category_list' %}" class="px-4 py-2 border rounded-lg">
            Cancelar
        </a>

        <button type="submit" class="bg-red-600 text-white px-6 py-2 rounded-lg">
            Eliminar
        </button>
    </form>
</div>
{% endblock %}