<header class="bg-white shadow">
    <nav class="container mx-auto p-4 flex justify-between">
        <a href="{% url 'expenses:dashboard' %}" class="font-bold">
            💸 Expenses
        </a>

        <div class="space-x-4">
            <a href="{% url 'expenses:expense_list' %}">Expenses</a>
            <a href="{% url 'expenses:category_list' %}">Categorias</a>

            {% if user.is_authenticated %}
            <span>{{ user.username }}</span>
            <a href="{% url 'logout' %}">
                Log out
            </a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
</header>